.img-div{
    position: relative;
    width: 300px;
}

.prof-img{
    border: 10px solid #c74385;
    height: 180px;
    width: auto;
    position: absolute;
    margin-left: 22%;
    margin-top: -33%;
}